.header{
    width:1000px;
    text-align:center;
}

.main {
   margin: 30px;   
}

.indexLeft {
    width: 300px;
    margin-left: 0;
    float: left;
    overflow: auto;    
}

.indexMain {
    margin-left: 20px;    
    float: left;
    overflow: auto;
}

.divGroup1 {
    margin-bottom:3px;
    display:block;
    border-width:1px;
    border-style:solid;
}

.divTopBar {
    height: 25px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
    overflow: auto;
}
