.header{
    width:1000px;
    text-align:center;
}

.main {
   margin: 30px;
   width: 1020px;
}

.indexLeft {
    width: 300px;
    margin-left: 0;
    float: left;
    overflow: auto;    
}

.indexMain {    
    margin-left: 20px;
    width: 700px;
    float:left;
}
